.comp{
 padding: 5px;
 border: 5px ;
 border-color: black;
 border-style: solid;   
}

.main{
    text-align : center ;
    
    background-color: azure;
    font-size: 25px;
    font-style:initial;
    
    border : lightgrey ;
    border-width : 5px;
    border-style :solid ;
}

.sub-heading{
    text-align: center;
    padding : 5px ;
    background-color: lightblue;
}

.sub-headings{
 background-color: lightgray;
}

.footers{
    padding:3px;
    background-color: lightgray;

}
